// colors
$primary-color: #ad4d29;
$secondary-color: #298aad;
$secondary-color-hover: #235d72;
$grey: #373433;
$white: #f3f3f3;
$black: #1a1818;

//fonts
$main-font: 'Nunito', sans-serif;
$logo-font: 'Dancing Script', cursive;

// breakpoints
$tablet: 764px;
$desktop: 1025px; //ipad pro 1024px

// mixins for flexbox
@mixin flex-box($dir: row, $just: space-evenly, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}

@mixin link($color: $white) {
  color: $color;
  text-decoration: none !important;
}
