@import '../../sass/vars';

.Profile {
  width: 100;
  @include flex-box(row, center, center);
}

.Profile h1,
.Profile h2,
.Profile h3 {
  color: $secondary-color;
}

.img-border {
  width: inherit;
  border: 6px solid $white;
  box-shadow: 2px 2px 10px $black;
}
