@import '../../sass/vars';

.Profile {
  width: 100;
  @include flex-box(row, center, center);
}

.profile-container {
  width: 90vw;
  height: 79vh;
  background: $white;
  border-radius: 10px;
  opacity: 0;
  transition: 1s;
  text-align: center;
  @include flex-box(column, space-evenly, center);
}

.profile-img-lg {
  border: 6px solid $secondary-color;
  max-width: 75vw;
  box-shadow: 2px 2px 10px $black;
}

.user-name-text {
  color: $secondary-color;
  font-size: 22px;
}

.profile-img-input {
  width: 70vw;
  height: 4vh;
  font-size: 25px;
  color: $secondary-color;
}

@media (min-width: $tablet) {
  .profile-img-lg {
    max-width: 65vw;
  }
  .user-name-text {
    font-size: 45px;
  }
  .profile-img-input {
    width: 65vw;
    height: 5vh;
  }
}

@media (min-width: $desktop) {
  .profile-container {
    width: 40vw;
  }
  .profile-img-lg {
    max-width: 25vw;
    max-height: 40vh;
  }
  .user-name-text {
    font-size: 35px;
  }
}
