@import '../../sass/vars';

.Profile {
  width: 100;
  @include flex-box(row, center, center);
}

.Profile h1,
.Profile h2,
.Profile p {
  color: $secondary-color;
}

@media (min-width: $tablet) {
  .Profile p {
    font-size: 1.5em;
  }
}
