@import '../../sass/vars';

.Form {
  width: 100%;
  @include flex-box(column, center, center);
}

.form-container {
  width: 90vw;
  height: 79vh;
  background: $white;
  border-radius: 10px;
  opacity: 0;
  transition: 1s;
  text-align: center;
  @include flex-box(column, flex-start, center);
}

.form-header {
  color: $secondary-color;
  font-size: 40px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  text-transform: capitalize;
}

.form-img {
  border: 6px solid $secondary-color;
  width: 255px;
  height: 150px;
  box-shadow: 2px 2px 10px $black;
}

.form-input-container {
  height: 50vh;
  @include flex-box(column, space-evenly, center);
}

.form-top-input-container{
  width:65vw;
  @include flex-box(row, space-between, center);
}

.form-top-input-container > input{
  width: 29vw;
}

.form-input-container > input {
  width: 65vw;
}
.form-top-input-container > input,
.form-input-container > input{
  height: 3vh;
  font-size: 20px;  
}

.form-input-container > textarea {
  width: 65vw;
  height: 10vh;
  font-size: 15px;
  resize: none;
}

.form-location-container {
  width: 65vw;
  @include flex-box(row, space-between, center);
}

.form-location-container > input {
  width: 40vw;
}

.form-location-container > input,
.form-location-container > select {
  height: 3vh;
  font-size: 18px;
}

.form-input-container > input,
.form-input-container > textarea,
.form-location-container > input,
.form-location-container > select,
.form-top-input-container > input{
  color: $secondary-color;
}

.form-button-container {
  width: 65vw;
  @include flex-box(row, space-between, center);
}

.form-button-container button {
  width: 28vw;
  height: 6vh;
  background-color: $secondary-color;
  border-radius: 10px;
  color: $white;
  font-size: 22px;
  text-transform: uppercase;
}

@media (min-width: $tablet) {
  .form-container {
    width: 75vw;
  }
  .form-header {
    font-size: 60px;
  }

  .form-img {
    width: 350px;
    height: 225px;
  }

  .form-input-container {
    height: 45vh;
  }

  .form-top-input-container > input{
    width: 29vw;
  }

  .form-location-container {
    width: 65vw;
  }

  .form-location-container > select {
    width: 20vw;
    font-size:25px;
  }
  .form-top-input-container > input,
  .form-input-container > input{
    font-size: 25px;  
  }
 
  .form-input-container > textarea {
    font-size: 20px;
  }

  .form-location-container > input,
  .form-location-container > select {
    font-size: 25px;
  }

  .form-button-container button {
    width: 20vw;
    font-size: 32px;
  }
}

@media (min-width: $desktop) {
  .form-container {
    width: 45vw;
  }

  .form-header {
    font-size: 35px;
  }

  .form-img {
    width: 300px;
    height: 165px;
  }

  .form-top-input-container {
    width: 40vw;
  }

  .form-top-input-container >input {
    width: 19vw;
  }

  .form-input-container {
    height: 42vh;
  }
 
  .form-input-container > input {
    width: 40vw;
  }

  .form-top-input-container > input,
  .form-input-container > input{
    font-size: 20px;  
  }
  
  .form-input-container > textarea {
    width: 39vw;
    height: 8vh;
    font-size: 15px;
  }

  .form-location-container {
    width: 40vw;
  }

  .form-location-container > input,
  .form-location-container > select {
    font-size: 15px;
  }

  .form-button-container {
    width: 40vw;
  }

  .form-button-container button {
    width: 10vw;
    height: 7vh;
    font-size: 25px;
  }
}
