@import '../../sass/vars';

.Upload {
  height: 5vh;
  font-size: 1.5em;
  color: $primary-color;
  border: 4px dashed $primary-color;
  text-transform: Uppercase;
  @include flex-box(row, center, center);
}
