@import '../../sass/vars';

.Post {
  width: 100;
  @include flex-box(column, center, center);
}

.post-container {
  width: 90vw;
  height: 79vh;
  background: $white;
  border-radius: 10px;
  opacity: 0;
  transition: 1s;
  overflow-y: scroll;
  @include flex-box(column, space-between, center);
}

.post-user-profile-container {
  width: 80vw;
  margin-top: 4vh;
  @include flex-box(row, flex-start, center);
}

.post-user-profile-container h3 {
  color: $secondary-color;
  margin-left: 10px;
  font-size: 18px;
}

.posted-user-profile-img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 2px solid $white;
  box-shadow: 0px 0px 10px 5px $black;
}

.post-flex-container {
  width: 80vw;
  text-align: left;
  @include flex-box(row, space-between, center);
}

.post-flex-container > h1,
.post-flex-container > p,
.post-location {
  color: $secondary-color;
  text-transform: capitalize;
}

.post-flex-container > h1,
.post-flex-container > p {
  margin-top: 4vh;
}

.post-flex-container > h3 {
  font-size: 20px;
}

.post-flex-container > h1 {
  font-size: 35px;
}

.post-flex-container > p {
  font-size: 22px;
}

.post-location {
  font-size: 25px;
}

.post-flex-container > button {
  width: 22vw;
  height: 8vh;
  color: $white;
  background-color: $secondary-color;
  margin-bottom: 4vh;
  border-radius: 10px;
  font-size: 25px;
  text-transform: uppercase;
}

.post-map-img {
  width: 285px;
  height: 285px;
  border: 6px solid $white;
  box-shadow: 2px 2px 10px $black;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

@media (min-width: $tablet) {
  .post-container {
    width: 80vw;
  }

  .post-user-profile-container {
    width: 70vw;
  }

  .post-user-profile-container h3 {
    margin-left:25px;
    font-size: 30px;
  }

  .posted-user-profile-img {
    width: 70px;
    height: 70px;
  }

  .post-flex-container {
    width: 70vw;
  }

  .post-flex-container > h1 {
    font-size: 50px;
  }

  .post-flex-container > p {
    font-size: 40px;
  }

  .post-location {
    font-size: 40px;
  }

  .post-flex-container > button {
    font-size: 35px;
    width: 15vw;
  }

  .post-map-img {
    width: 350px;
    height: 350px;
  }
}

@media (min-width: $desktop) {
  .post-container {
    width: 45vw;
  }

  .post-user-profile-container {
    width: 40vw;
  }

  .post-user-profile-container h3 {
    font-size: 25px;
  }

  .posted-user-profile-img {
    width: 55px;
    height: 55px;
    border: 3px solid $white;

  }

  .post-flex-container {
    width: 40vw;
  }

  .post-flex-container > h1 {
    font-size: 40px;
  }

  .post-flex-container > p {
    font-size: 28px;
  }

  .post-location {
    font-size: 30px;
  }

  .post-flex-container > button {
    width: 8vw;
    height: 8vh;
    font-size: 25px;
  }

  .post-map-img {
    width: 275px;
    height: 275px;
  }
}
