@import '../../sass/vars';

.Post {
  width: 100%;
  @include flex-box(column, center, center);
}

.Post p,
.Post h1,
.Post h2,
.Post h3,
.Post h4 {
  color: $secondary-color;
}

.Post h1 {
  text-transform: capitalize;
}

.post-title {
  text-align: center;
}

.post-img {
  width: inherit;
  height: auto;
}

.map {
  width: inherit;
  height: 40vh;
}

@media (min-width: $tablet) {
  .post-title {
    text-align: right;
  }
}
