@import './sass/vars';
body,
input,
select {
  font-family: $main-font;
}

.App {
  width: inherit;
  height: 100vh;
  text-align: center;
  background-size: cover;
  background-position: center;
}

@media (max-width: 576px){
  .App {
    height: 115vh;
  }
}