@import './sass/vars';

.App {
  width: inherit;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.Link {
  @include link($white);
}

.Link:hover {
  color: $white;
}

/*Wrapping element*/
/*Set some basic padding to keep content from hitting the edges*/
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.animation-container {
  opacity: 0;
  transition: 0.5s;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.custom-card {
  background: $white;
  border-radius: 5px;
  padding: 2vh;
  max-height: 80vh;
  @include flex-box(column, flex-start, center);
  overflow-y: auto;
  overflow-x: hidden;
}

.profile-img {
  width: 6vh;
  height: 6vh;
  border-radius: 50%;
  border: 2px solid $white;
  box-shadow: 0px 0px 10px 5px $black;
}

.buttons {
  background-color: $secondary-color !important;
  font-size: 1.4em !important;
  text-transform: uppercase;
}

.frame {
  border: 6px solid $white;
  box-shadow: 2px 2px 10px $black;
}
