.DisplayPost {
  width: 80vw;
  height: 30vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  background: #228899;
  flex-shrink: 0;
}

.display-post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4vw;
}

.display-post-text {
  color: #ffffff;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 2vh;
  /* overflow-x: scroll; weird*/
}

.display-post-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.display-post-img {
  width: 150px;
  height: 125px;
  border: 6px solid #f3f3f3;
  box-shadow: 2px 2px 10px black;
}

@media (min-width: 767px) {
  .display-post-header {
    margin: 2vw;
  }
  .display-post-text {
    font-size: 40px;
  }
  .display-post-img {
    width: 225px;
    height: 175px;
  }
}
@media (min-width: 1024px) {
  .DisplayPost {
    width: 48vw;
    height: 40vh;
  }
  .display-post-header {
    margin: 2vw;
  }
}
