@import '../../sass/vars';

.DisplayPost {
  width: 80vw;
  height: 30vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  border-radius: 10px;
  background: $secondary-color;
  flex-shrink: 0;
}

.display-post-header {
  @include flex-box(row, space-between, center);
  margin: 4vw;
}

.display-post-text {
  color: $white;
  font-size: 30px;
  text-transform: capitalize;
  margin-top: 2vh;
}

.display-post-content {
  @include flex-box(row, space-evenly, center);
}

.display-post-img {
  width: 150px;
  height: 125px;
  border: 6px solid $white;
  box-shadow: 2px 2px 10px $black;
}

@media (min-width: $tablet) {
  .display-post-header {
    margin: 2vw;
  }
  .display-post-text {
    font-size: 40px;
  }
  .display-post-img {
    width: 225px;
    height: 175px;
  }
}
@media (min-width: $desktop) {
  .DisplayPost {
    width: 48vw;
    height: 40vh;
  }
  .display-post-header {
    margin: 2vw;
  }
}
