@import '../../sass/vars';

.DisplayPost {
  width: auto;
  height: auto;
  border-radius: 5px;
  background: $secondary-color;
  margin-top: 2vh;
  padding: 10px;
}

.post-header {
  text-transform: capitalize;
}

.text-content {
  text-align: right;
}

@media (max-width: $tablet) {
  .text-content {
    text-align: left;
  }
}
