/* animations */
.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

@keyframes slideDown {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 15vh;
  }
}

@keyframes slideDownLogin {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 25vh;
  }
}

@keyframes slideDownPopup {
  from {
    margin-top: 0;
  }
  to {
    margin-top: 10vh;
  }
}
