.Nav {
  width: 100%;
  height: 15vh;
  background: #ad4d29;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.profile-info-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  margin-left: 2vw;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid #ffffff;
  box-shadow: 0px 0px 10px 5px #000000;
}

.profile-user-name {
  text-align: center;
  color: #ffffff;
  font-size: 25px;
  margin-top: 5px;
  margin-left: 3vw;
}

#desktop-nav {
  display: none;
}

#nav-logo {
  font-family: 'Dancing Script', cursive;
  color: #ffffff;
  font-size: 50px;
  /* margin-left: 5vw; */
}

.nav-logo-profile-container {
  margin-left: 5vw;
}

.hide-logo-mobile {
  display: none;
}

#mobile-nav {
  width: 100%;
  position: fixed;
  top: 15vh;
  right: 0;
  transition: 1.5s;
  overflow: hidden;
}

#mobile-nav > a > li,
#mobile-nav > li {
  background-color: #228899;
  color: #ffffff;
  text-transform: uppercase;
  padding: 15px;
  font-size: 20px;
  border: 1px solid #ffffff;
}

.Link {
  color: #ffffff;
  text-decoration: none;
}

.hide {
  height: 0;
}

.show {
  height: 26vh;
}

#nav-button {
  width: 15vh;
  height: 8vh;
  margin-right: 2vw;
  background: #228899;
  border-radius: 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (min-width: 768px) {
  #nav-button {
    font-size: 25px;
  }
  #mobile-nav > a > li,
  #mobile-nav > li {
    font-size: 30px;
  }
  .show {
    height: 41vh;
  }
  .profile-img {
    width: 115px;
    height: 115px;
  }
  .profile-user-name {
    font-size: 35px;
    margin-left: 2vw;
  }
}
/* 1024 ipad pro */
@media (min-width: 1025px) {
  #nav-button,
  #mobile-nav {
    display: none;
  }
  #desktop-nav {
    margin-right: 1vw;
    width: 65vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    font-size: 35px;
    color: #ffffff;
  }
  .Link:hover,
  #desktop-nav li:hover {
    color: #228899;
  }
  .profile-img {
    width: 80px;
    height: 80px;
  }
  .profile-user-name {
    margin-left: 1vw;
  }
  .hide-logo-mobile {
    display: inline;
  }
  .nav-logo-profile-container {
    margin-left: 3vw;
  }
}
